<!--<canvas #canvas  id="canvas">{{ chart }}</canvas>-->
<mat-grid-list cols="3" rowHeight="2:2">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <canvas #canvasGanancia id="canvasGanancia">{{ chartGanancia }}</canvas>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <canvas #canvas id="canvas">{{ chart }}</canvas>
  </mat-grid-tile>
</mat-grid-list>


<!--<div class="grid-container">
  <div class="grid-item codBarras">
    <canvas #canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>

<div class="grid-container">
  <div class="grid-item">
    <canvas #canvasGanancia id="canvasGanancia">{{ chartGanancia }}</canvas>
  </div>


</div>-->

