<button size="m"
        tuiButton
        (click)="onClick(content)">
  Open
</button>

<ng-template #content
             let-context>
  <form [formGroup]="UsuarioForm">
    <p>
      <tui-input formControlName="nombres" tuiTextfieldSize="s" [tuiTextfieldCleaner]="true">
        Nombres
        <span class="tui-required"></span>
        <input tuiTextfield type="text" />
      </tui-input>
    </p>
    <p>
      <tui-input formControlName="apellidos" tuiTextfieldSize="s" [tuiTextfieldCleaner]="true">
        Apellidos
        <span class="tui-required"></span>
        <input tuiTextfield type="text" />
      </tui-input>
    </p>
    <p>
      <tui-input formControlName="dni" [maskito]="digitos10">
        DNI
        <span class="tui-required"></span>
        <input inputmode="numeric" tuiTextfield />
      </tui-input>

    </p>
    <p>
      <tui-input formControlName="telefonoCelular" [maskito]="digitos10">
        Celular
        <span class="tui-required"></span>
        <input inputmode="numeric" tuiTextfield />

      </tui-input>
    </p>

    <p>
      <tui-input formControlName="telefonoConvencional" [maskito]="digitos15">
        Telefono Convencional
        <span class="tui-required"></span>
        <input inputmode="numeric" tuiTextfield />

      </tui-input>
    </p>
    <p *ngIf="tipoUsuario==3">
      <tui-checkbox-block contentAlign="right"
                          formControlName="esPrincipal"
                          size="m">
        Propietario Principal
      </tui-checkbox-block>
    </p>

    <p *ngIf="crud==3; else ifBlock">
      <button tuiButton
              (click)="context.next()">
        Guardar
      </button>
    </p>
    <ng-template #ifBlock>
      <p *ngIf="crud == 4">
        <button tuiButton (click)="context.next()">
          Editar
        </button>
      </p>
    </ng-template>

  </form>

</ng-template>
