<!--<div>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>-->
    <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>-->
  <!--</mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>-->
      <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
      <!--<mat-list role="list">
        <mat-list-item role="listitem">
          <button mat-raised-button color="primary" class="same-size-button">Usuarios</button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-raised-button color="primary" class="same-size-button">Viviendas</button>
        </mat-list-item>
         <mat-list-item role="listitem">
   <button mat-raised-button color="primary" class="same-size-button">Viviendas</button>
 </mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>-->
      <!--<button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>-->
      
      
    <!--</mat-drawer>


    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Graficos">
        <app-graphics></app-graphics>
      </mat-tab>
      <mat-tab label="Regularizaciones">
        <app-view></app-view>
      </mat-tab>
      <mat-tab label="Crear Regularizacion">
        <app-register></app-register>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-container>

</div>-->

<!--<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>-->

<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Graficos">
    <app-graphics></app-graphics>
  </mat-tab>
  <mat-tab label="Regularizaciones">
    <app-view></app-view>
  </mat-tab>
  <mat-tab label="Crear Regularizacion">
    <app-register></app-register>
  </mat-tab>
</mat-tab-group>

